#inputfield1{
    margin-bottom: 12px; 
    width: 450px; 
    height: 30px;
    outline: none;
    border: transparent;
  }
  #content1{
    border: 1px solid; 
    /* border: none; */
    width: fit-content; 
    height: fit-content; 
    background-color: rgba(143, 54, 226, 0.199);
    color: rgb(143, 54, 226);
    border-color: rgba(143, 54, 226, 0.678);
    border-radius: 5px;
    padding: 25px;
    margin-left: 0px;
  }
  #btn{
    background-color:rgba(143, 54, 226, 0.699);
    color: white;
    border-color: rgba(143, 54, 226, 0.678);
  }