<div class="container" id="content1">
    <h5>Date Purchased:</h5>
    <input type="date" name="" id="inputfield1">
    <h5>Product Id:</h5>
    <input type="text" name="" id="inputfield1">
    <h5>Product Name:</h5>
    <input type="text" name="" id="inputfield1">
    <h5>Product Quantity:</h5>
    <input type="number" name="" id="inputfield1">
    <h5>Product Price:</h5>
    <input type="text" name="" id="inputfield1" style="margin-bottom: 18px;">
    <div class="buttons" style="width: 500px; display: flex; justify-content: space-between;">
      <button id="btn" class="btn btn-info" style="width: 100px;"> Save </button>
      <button id="btn" class="btn btn-info" style="width: 100px;"> Update </button>
      <button id="btn" class="btn btn-info" style="width: 100px;"> Delete </button>
      <button id="btn" class="btn btn-info" style="width: 100px;"> Find </button>
    </div>
</div>