<div class="container" id="content2" style="padding-bottom: 22px;">
    <h5 style="padding-bottom: 5px;"> Inventories: </h5>
      <table class="table table-bordered table-hover" style="border-radius: 5px;">
        <tr>
          <th> Date Purchased</th>
          <th> Id</th>
          <th> Name</th>
          <th> Quantity</th>
          <th> Price (in RS)</th>
        </tr>
        <tr>
          <td> 25-Jul-2024</td>
          <td> #24839 </td>
          <td> Moong Dal pack: Half kilo</td>
          <td> 4</td>
          <td> 756</td>
        </tr>
        <tr>
          <td> 25-Jul-2024</td>
          <td> #24839 </td>
          <td> Moong Dal pack: Half kilo</td>
          <td> 4</td>
          <td> 756</td>
        </tr>
        <tr>
          <td> 25-Jul-2024</td>
          <td> #24839 </td>
          <td> Moong Dal pack: Half kilo</td>
          <td> 4</td>
          <td> 756</td>
        </tr>
        <tr>
          <td> 25-Jul-2024</td>
          <td> #24839 </td>
          <td> Moong Dal pack: Half kilo</td>
          <td> 4</td>
          <td> 756</td>
        </tr>
        <tr>
          <td> 25-Jul-2024</td>
          <td> #24839 </td>
          <td> Moong Dal pack: Half kilo</td>
          <td> 4</td>
          <td> 756</td>
        </tr>
        <tr>
          <td> 25-Jul-2024</td>
          <td> #24839 </td>
          <td> Moong Dal pack: Half kilo</td>
          <td> 4</td>
          <td> 756</td>
        </tr>
        <tr>
          <td> 25-Jul-2024</td>
          <td> #24839 </td>
          <td> Moong Dal pack: Half kilo</td>
          <td> 4</td>
          <td> 756</td>
        </tr>
        <tr>
          <td> 25-Jul-2024</td>
          <td> #24839 </td>
          <td> Moong Dal pack: Half kilo</td>
          <td> 4</td>
          <td> 756</td>
        </tr>
      </table>
    </div>