#inputfield1{
  margin-bottom: 12px; 
  width: 250px; 
  height: 30px;
}

#content2{
    border: 1px solid; 
    /* border: none; */
    width: fit-content; 
    height: fit-content; 
    background-color: rgba(143, 54, 226, 0.199);
    color: rgb(143, 54, 226);
    border-color: rgba(143, 54, 226, 0.678);
    border-radius: 5px;
    padding: 25px;
    margin-right: 0px;
  }